/* Home Header style */
.Home-Header {
    position: relative;
    width: 100%;
    min-height: 150h;
    overflow: hidden;
}

/* this is the big img in Home page at header */
.Home-Header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* style of section1. */
.Home-Section1 {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    max-width: 40%;
    max-height: auto;
}

/* style of section1 specific h1.  */
.Home-Section1 h1 {
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Home-Section1 h1:hover{
    font-size: 40px;
    background: linear-gradient(90deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4, #ffeaa7);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s ease;
    cursor: pointer;}

/* first style of text in section1    */
.Home-Section1 p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
}

/* change color of section1 when when hover. */
.hover-text {
    font-size: 18px;
    background: linear-gradient(90deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4, #ffeaa7);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-position 0.3s ease;
    cursor: pointer;
}

/* change color of section1 when when hover. */
.hover-text:hover {
    background-position: 100% 0;
}

/* style of section2 (img) */
.Home-Section2 {
    position: absolute;
    top: 25%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    max-width: 50%;
    max-height: auto;
}

/* style for image in section2 */
.Home-Section2 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* change style of img when hover. */
.IMG-Section2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    position: relative;
}

/* style of section3 */



/* Responsive design */
@media (max-width: 768px) {
    .Home-Section3 {
        width: 90%;
        max-width: 90%;
        left: 50%;
        padding: 20px;
    }
    
    .services-grid {
        grid-template-columns: 1fr;
    }
    
    .service-category {
        grid-template-columns: 1fr;
    }
    
    .nested-item1 {
        font-size: 1.6em;
        padding: 20px;
    }
}